.goal {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 17px;
    font-family: Noto-Bold;
    color: var(--orange);
    margin-bottom: 16px;
  }

  .graphBody {
    width: 100%;
    display: flex;
    border-top: 1px solid rgba(208, 200, 200, 0.25);
    padding-top: 23px;
    align-items: center;
    margin-bottom: 47px;

    .circle {
      width: 128px;
      height: 128px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 36px;
      font-family: Museo-Medium;
      color: var(--white);
      border: 5px solid #d9d9d9;
      flex-shrink: 0;

      @media screen and (max-width: 700px) {
        font-size: 32px;
      }
    }

    .goalInfo {
      margin-left: 32px;
      display: flex;
      flex-direction: column;

      p {
        font-size: 17px;
        margin-bottom: 16px;
        color: var(--white);
        font-family: Noto-Bold;
        max-width: 246px;
      }

      > span {
        color: var(--orange);
        font-size: 12px;
      }
    }
  }

  .graphFooter {
    margin-top: auto;

    button {
      // width: 139px;
      padding: 11px 16px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      color: var(--white);

      span {
        &:last-of-type {
          margin-left: 8px;
          font-family: Noto-Medium;
          font-size: 15px;
        }
      }
    }
  }
}
