.Exam_pratice_wrapper {
  padding: 100px 0;

  .exam_pratice__header {
    text-align: center;
    max-width: 1064px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 50px;

    img {
      width: 263px;
      margin-bottom: 18px;
    }

    h5 {
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 24px;
      color: #f5f5ff;
    }
  }

  .exam_breakdown_wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
    background-color: #212121;
    padding: 30px;
    background: #212121;
    border-radius: 8px;
    margin-bottom: 20px;

    .exam_breakdown_title {
      h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 24px;
        color: #f5f5ff;
      }
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #ff8662;
      }
    }

    .exam_breakdown_content {
      display: flex;
      align-items: center;
      gap: 30px;

      p {
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 24px;
        color: #f5f5ff;

        .exam_left_content {
          font-weight: normal;
          color: rgba(192, 192, 192, 0.8);
        }
      }

      button {
        background: #5d55ff;
        border-radius: 4px;
        padding: 10px 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
  }

  .exam_breakdown_wrapper_two {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
    gap: 20px;

    .exam_breakdown_first_div {
      background: #212121;
      border-radius: 8px;
      padding: 30px;

      h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #ff8662;
        margin-bottom: 20px;
      }
      p {
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 23px;
        color: rgba(244, 244, 244, 0.8);
      }

      .exam_options {
        margin-top: 25px;

        .exam_options_first {
          padding: 10px 20px;
          border: 0.4px solid rgba(244, 244, 244, 0.8);
          box-sizing: border-box;
          border-radius: 4px;
          margin-top: 15px;
          width: 70%;
          cursor: pointer;

          p {
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 24px;
            color: rgba(244, 244, 244, 0.8);
          }
        }

        .exam_options_cta_btn {
          display: flex;
          gap: 10px;
          margin-top: 25px;

          .exam_options_cta_btn1 {
            background: #5d55ff;
            border-radius: 4px;
            padding: 10px 40px;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 24px;
          }

          .exam_options_cta_btn2 {
            background: transparent;
            border-radius: 4px;
            padding: 10px 40px;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 24px;
            border: 0.4px solid rgba(244, 244, 244, 0.8);
          }
        }
      }
    }

    .exam_breakdown_second_div {
      background: #212121;
      padding: 30px;
      border-radius: 8px;

      .exam_marks_hightlight {
        display: flex;
        text-align: center;
        // justify-content: space-between;
        .exam_marks_skipped_wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
        .exam_marks_skipped {
          border: 1px solid #ff8662;
          box-sizing: border-box;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          margin: 0 20px;
        }
        .exam_marks_answered {
          border: 1px solid #5d55ff;
          box-sizing: border-box;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          margin: 0 20px;
        }
        .exam_marks_unanswered {
          border: 1px solid rgba(244, 244, 244, 0.8);
          box-sizing: border-box;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          margin: 0 20px;
        }

        p {
          margin-top: 10px;
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 16px;
          color: rgba(244, 244, 244, 0.8);
        }
      }

      .exam_marks_done_wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 30px;
        grid-gap: 5px;
        .exam_marks_skipped {
          border: 1px solid #ff8662;
          box-sizing: border-box;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          color: rgba(244, 244, 244, 0.8);
        }
        .exam_marks_answered {
          border: 1px solid #5d55ff;
          box-sizing: border-box;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          color: rgba(244, 244, 244, 0.8);
        }
        .exam_marks_unanswered {
          border: 1px solid rgba(244, 244, 244, 0.8);
          box-sizing: border-box;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          color: rgba(244, 244, 244, 0.8);
        }
      }
    }
  }
}

// media queries for 1024px
@media screen and (max-width: 1024px) {
  .Exam_pratice_wrapper {
    padding: 100px 0;
    .exam_breakdown_wrapper {
      width: 90%;
      max-width: 100%;
      margin: 0 auto;
      gap: 20px;
    }

    .exam_breakdown_wrapper_two {
      display: grid;
      grid-template-columns: 3fr 1fr;
      width: 90%;
      max-width: 100%;
      margin: 0 auto;
      gap: 20px;
      margin-top: 20px;

      .exam_breakdown_second_div {
        background: #212121;
        padding: 10px;
        border-radius: 8px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Exam_pratice_wrapper {
    padding: 100px 0;
    .exam_breakdown_wrapper {
      width: 90%;
      max-width: 100%;
      margin: 0 auto;
      gap: 20px;
    }

    .exam_breakdown_wrapper_two {
      display: grid;
      grid-template-columns: 1fr;
      width: 90%;
      max-width: 100%;
      margin: 0 auto;
      gap: 20px;
      margin-top: 20px;

      .exam_breakdown_second_div {
        background: #212121;
        padding: 30px;
        border-radius: 8px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .Exam_pratice_wrapper {
    padding: 100px 0;

    .exam_breakdown_wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 90%;
      max-width: 100%;
      margin: 0 auto;
      background-color: #212121;
      padding: 10px;
      background: #212121;
      border-radius: 8px;
      margin-bottom: 20px;
    }

    .exam_breakdown_first_div {
      background: #212121;
      border-radius: 8px;
      padding: 30px;

      .exam_options {
        margin-top: 25px;

        .exam_options_first {
          padding: 10px 20px;
          border: 0.4px solid rgba(244, 244, 244, 0.8);
          box-sizing: border-box;
          border-radius: 4px;
          margin-top: 15px;
          width: 100% !important;
          cursor: pointer;
        }
      }
    }

    .exam_breakdown_wrapper_two {
      display: grid;
      grid-template-columns: 1fr;
      width: 90%;
      max-width: 100%;
      margin: 0 auto;
      gap: 20px;
      margin-top: 20px;

      .exam_breakdown_second_div {
        background: #212121;
        padding: 10px;
        border-radius: 8px;
      }
    }
  }
}
