.layout {
  width: var(--full);
  max-width: var(--wrapper-max-width);
  min-width: var(--wrapper-min-width);
  margin: 0 auto;

  .main {
    width: var(--full);
    height: var(--full);
    margin-top: 97px;

    @media (max-width: 1275px) {
      margin-top: 55px;
    }
  }
}
