.insightCard {
  height: auto;
  padding-bottom: 12px;
  background: var(--main-bg);
  border: 1px solid var(--card-border);
  display: flex;
  flex-direction: column;
  white-space: pre-line;
  color: var(--text-primary);

  .cardImg {
    width: var(--full);
    height: 201px;

    > img {
      width: var(--full);
      height: var(--full);
    }
  }

  .cardBody {
    padding: 12px;

    .title {
      width: var(--full);

      h3 {
        font-size: 15px;
        font-family: Noto-SemiBold;
        max-width: 280px;
        line-height: 1.6;
      }
    }

    .desc {
      width: var(--full);
      margin-top: 12px;

      p {
        font-size: 13px;
        max-width: 280px;
        font-family: Noto-Light;
        line-height: 1.6;
        word-break: break-word;
      }
    }
  }

  .cardFooter {
    padding: 16px 0 0;
    margin: auto 12px 0;
    border-top: 1px solid rgba(244, 244, 244, 0.3);

    p {
      font-size: 13px;
      color: var(--orange);
    }
  }
}
