.outro {
  width: var(--full);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 140px 16px;
  background: var(--main-bg);

  @media (max-width: 1200px) {
    text-align: center;
  }

  h3 {
    font-size: 32px;
    font-family: Noto-Bold;
    margin-bottom: 61px;

    @media (max-width: 1200px) {
      max-width: 512px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
