.faqsWrapper {
  width: 90%;
  margin: 0 auto;

  @media (max-width: 903px) {
    width: var(--full);
    max-width: 783px;
  }

  h3 {
    font-size: 28px;
    font-family: Noto-Bold;
  }

  .faqList {
    width: var(--full);
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px 20px;

    @media (max-width: 903px) {
      grid-template-columns: repeat(1, 1fr);
    }

    > ul {
      display: flex;
      flex-direction: column;

      > li {
        width: var(--full);
        // position: relative;
        border-top: 1px solid var(--main-bg);
        margin-bottom: 20px;

        > button {
          background: var(--secondary-dark);
          display: flex;
          align-items: center;
          font-size: 17px;
          color: var(--text-primary);
          width: var(--full);
          justify-content: space-between;
          padding: 24px 20px;
          text-align: left;

          > i {
            font-size: 12px;
            transition: all 0.4s cubic-bezier(0.57, 0.21, 0.69, 1.25);
          }
        }

        .faqAnswer {
          // position: relative;
          width: var(--full);
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.4s cubic-bezier(0.57, 0.21, 0.69, 1.25),
            opacity 0.4s cubic-bezier(0.57, 0.21, 0.69, 1.25),
            visibility 0.4s cubic-bezier(0.57, 0.21, 0.69, 1.25);
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          background: var(--main-bg);
          padding: 0px 20px;
          opacity: 0;
          visibility: hidden;
          pointer-events: none;

          &.show {
            // max-height: 400px;
            max-height: 300px;
            overflow-y: auto;
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
              display: none;
            }
          }

          p {
            font-size: 14px;
            max-width: 598px;
            line-height: 1.4;
            padding: 20px 0;
          }
        }
      }
    }
  }
}
